#header-logo {
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}
code {
	padding: 10px;
}

#code-box {
	height: 300px;
}

#editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }