{% extends "base.html" %}

{% block content %}

<div class="container">
	<br>
	<h3>Sign In to CodinCloud</h3>
	<br>
	 <div class="row">
    <form class="col s9">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s4">
          <input id="signup-btn" type="submit" class="validate btn" value="Sign In">
        </div>
      </div>
    </form>
    
    <div class="row">
        
        <div class="input-field col s4">
          <h4>Or</h4>
          <br>
          <button style="display:inline" class="btn">Login with Github</button>
        </div>
      </div>
  </div>
</div>

{% endblock %}