<html>
    <head>
        <title>Flask Compiler-creativcoder</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        

    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Your Output</h1>
            </div>
            <div id="content">
                Stdout for : <strong>{{name}}</strong><br><code><pre>{{code}}</pre></code>
            </div>
            
            </div>
     
        <script type="text/javascript" src="{{url_for('static',filename='materialize.min.js')}}"></script>
    </body>
</html>
