<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Online Compiler Using Flask MicroFramework (Currently runs gcc 4.8.2) More languages will be added soon </h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('hello') }}">
                  <label for="yourname">Project Name</label>
                  <input type="text" name="yourname" /><br />
                  <label for="youremail">Enter filename</label>
                  <input type="text" name="youremail" /><br />
                  <textarea name="code" rows="15" cols="90">Enter your c code here</textarea>
                  <input type="submit"/>
                </form>
            </div>
           <div class="title" style="padding-top:6px">
               Developer : <a style="color:#FFFFFF" href="http://creativcoder.wordpress.com">Creativcoder</a>
               <p>Follow Me on Twitter:</p><a href="http://twitter.com/creativcoder"></a>
           </div>
                
            </div>
        </div>
    </body>
</html>