<!DOCTYPE html>
<html>
<head>
	<title>pyjudge</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/materialize.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
</head>
<body>

	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">&nbsp;&nbsp;Pyjudge - Code in the cloud</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="components.html">Problem Archive</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="components.html">Signup</a></li>

        <li><a href="{{url_for('about_page')}}">About</a></li>
      </ul>
    </div>
  </nav>

<div style="float:left" class="container">

<a href="#NEXTPALIN">Current Problem : NEXT PALINDROM</a>

</div>

	<div style="float:right" class="container">
		<form class="row" action="{{url_for('compile')}}" method="post">
		<div class="row">
			<input type="text" value="" name="filename_field" placeholder="Enter Filename"/>
			</div>
			<div id="code-box" class="input-field">
			
			<!-- <label>Type your code here</label> -->
			
				<div name="editor" id="editor">#Type your code here
</div>
			<br/>
			<br/>

				<!-- <button class="waves-effect wave-teal btn" type="submit" >Compile</button> -->
			</div>
			<textarea id="textarea-code" hidden type="text" name="edit"></textarea>
			<br/>
			<!-- <button class="waves-effect wave-teal btn" onclick="">Save</button> -->
				<button class="waves-effect wave-teal btn" type="submit" onclick="getCodeSnippet()">Compile</button>
<!-- Select Language Badge  -->
				<ul style="float:right" id="dropdown2" class="dropdown-content">
        	<li><a href="#!">Python<span class="badge">1</span></a></li>
        	<li><a href="#!">C/C++<span class="badge">1</span></a></li>
        	<li><a href="#!">Java</a></li>
      	</ul>
      		<a class="btn dropdown-button" href="#!" data-activates="dropdown2">Select Language<i class="mdi-navigation-arrow-drop-down right"></i></a>
<!-- Select Language Badge -->
		</form>
		<div class="row">
			<p>OUTPUT : {{code}}</p>
		</div>
	</div>


	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/materialize.js')}}"></script>
	
<script src="{{url_for('static',filename="ace-builds/src-noconflict/ace.js")}}" type="text/javascript" charset="utf-8"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");

    function getCodeSnippet(){
    var snippet=editor.getValue();
    var textar=document.getElementById("textarea-code").value=snippet;
    alert("Your code has been saved");
}
</script>
</body>
</html>