{% extends "base.html" %}
{% block content %}

<div class="row">
<div class="left-align col s3">
 <div class="collection">
  <h6>&nbsp;&nbsp;Select Language</h6>
        <a href="#!" class="collection-item active">C (Currently Supported)</a>
        <a href="#!" class="collection-item">C++</a>
        <a href="#!" class="collection-item">Python</a>
        <a href="#!" class="collection-item">NodeJS</a>
        <a href="#!" class="collection-item">Rust</a>
      </div> 
</div>

	<div style="float:right" class="col s9">
		<form id="code_form" class="row" action="" method="post">
		<div class="row">
			<input type="text" value="" required name="filename_field" placeholder="Enter Filename (without extension)"/>
			</div>
    
			<div id="code-box" class="input-field">
			
				<div name="editor" id="editor"></div>
				
				<br/>
				<br/>
			</div>
			<textarea id="textarea-code" hidden type="text" name="edit"></textarea>
			<br/>
			
      <div class="input-field col s12">
          <textarea name="std-input" id="stdin" class="materialize-textarea"></textarea>
          <label for="textarea1">Stdin (Enter input here)</label>
        </div>
				<button style="margin-top:10px" class="waves-effect wave-teal btn" type="submit" onclick="getCodeSnippet()">Compile</button>

<br> <br> 

    </form>

		<div class="row">
			<p id="output" class="output">
          {%- for line in data -%}
            {{line}} 
  {%- if not loop.last -%}
            <br />
        {%- endif -%}
    {%- endfor -%}
      </p>
		</div>

	</div>
</div>
<script>
var editor=null;
var getCodeSnippet = function (){
  $('#output').html("");
    $('#output').html("Compiling...<br>");
    var snippet=editor.getValue();
    var textar=document.getElementById('textarea-code').value=snippet;
    $.getJSON('/compile',{
      filename:$('input[name="filename_field"]').val(),
      source_code:textar,
      stdin: $('#stdin').val()
    },function(data){
        $('#output').html(data.result);
    });
    return false;
} ;

$('#code_form').submit(getCodeSnippet);

    window.onload = function init(){
    editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/java");
    editor.focus();
}
</script>
{% endblock %}